---
---

@import "{{ site.theme }}";
#footer_wrap {display: none;}
#forkme_banner {display: none;}
#downloads {display: none;}
#whocares {haha: hehe;}

table, th, td {
  border: 0px;
  background: #f2f2f2;
  color:#373737;
}
